@using MyEvernote.WebApp
@model IEnumerable<MyEvernote.Entities.EvernoteUser>

@{ ViewBag.Title = "Kullanıcılar"; }

<div class="row ml-lg-2 mr-lg-2">

    <div class="col mt-3">
        <h2 class="text-center">@ViewBag.Title</h2>
        <hr />
    </div>
</div>
<style>
   
</style>
<div class="row ml-lg-2 mr-lg-2">
    <div class="col">

        <p>
            @Bootstrap.LinkButton("/EvernoteUser/Create", "primary", string.Empty, string.Empty, "plus", string.Empty)
            </p>
        <table class="table table-bordered table-hover ">
            <thead class="thead-dark">
             <tr>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.ProfileImageFilename)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th scope="col" class="text-center">
                    @Html.DisplayNameFor(model => model.ModifiedUserName)
                </th>
                <th scope="col" class="text-center">
                    Seçenekler  
                </th>
             </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="card-img-bottom">
                              <img src="~/Images/@Html.DisplayFor(modelItem => item.ProfileImageFilename)" height="50" width="100" class="img-fluid center-block rounded-circle ml-4" alt="user">
                            </div>
                        </td>
                        
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.IsAdmin)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ModifiedUserName)
                        </td>
                        <td class="text-center">
                            @Bootstrap.LinkButton("/EvernoteUser/Edit/" + item.Id, "warning", "btn-sm", "Düzenle", "edit", string.Empty)

                            @Bootstrap.LinkButton("/EvernoteUser/Details/" + item.Id, "success", "btn-sm", "Detaylar", "search", string.Empty)

                            @Bootstrap.LinkButton("/EvernoteUser/Delete/" + item.Id, "danger", "btn-sm", "Kaldır", "trash", string.Empty)
                        </td>

                    </tr>
}
            </tbody>
        </table>
    </div>

</div>