@using MyEvernote.WebApp
@model IEnumerable<MyEvernote.Entities.Category>

@{
    ViewBag.Title = "Kategoriler";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Kategoriler</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p>

            <a href="/Category/Create" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus">
                </span>
            </a>
        </p>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.ModifiedOn)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.ModifiedUserName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                     <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedUserName)
                        </td>
                        <td>
                            @Bootstrap.LinkButton("/Category/Edit/" + @item.Id, "warning", "bt-xs", "Edit", "edit", string.Empty)
                            @Bootstrap.LinkButton("/Category/Details/" + @item.Id, "info", "bt-xs", "Details", "search", string.Empty)
                            @Bootstrap.LinkButton("/Category/Delete/" + @item.Id, "danger", "bt-xs", "Delete", "trash", string.Empty)
                            @*<a href="/Category/Edit/@item.Id" class="btn btn-warning btn-sm" title="Edit">
                                <span class="glyphicon glyphicon-edit">
                                </span>
                            </a>
                            <a href="/Category/Details/@item.Id" class="btn btn-info btn-sm" title="Detail">
                                <span class="glyphicon glyphicon-search">
                                </span>
                            </a>
                            <a href="/Category/Delete/@item.Id" class="btn btn-danger btn-sm" title="Detail">
                                <span class="glyphicon glyphicon-trash">
                                </span>
                            </a>*@
                        </td>
                     </tr>
                }
            </tbody>
        </table>
    </div>
</div>