@using MyEvernote.Entities
@model List<Note>
@{
    ViewBag.Title = "Index";
    
}
<style>
    body {
       /* background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/91.jpg');*/
       
    }  
</style>


<link href="~/Content/shop-homepage.css" rel="stylesheet" />


<body align="center" >
    <!-- Page Content -->
    
    <div class="container-fluid">
        <div class="row mt-3">

            @*Kategoriler*@
            <div class="col-md-3">
                @Html.Partial("_PartialCategories")
                @*@using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "login-form" }))
                {
                    <p class="text-center mt-3">
                        <input type="text" name="searchString" value="" />
                        <button class="btn btn-dark">Search</button>
                    </p>
                }*@
            </div>

            <div class="col-md-9">
                @*Carousel*@
                @Html.Partial("_PartialCarousel")

                @*Kartlar*@
                <div class="row row-cols-1 row-cols-md-3">
                    @foreach (Note note in Model)
                    {

                        <div class="col mb-4" data-note-id="@note.Id">
                            <div class="card ">
                                <img src="~/NoteImages/@note.NoteImageFilename" alt="@note.Title" class="card-img-top "height="280" width="280" />
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a data-toggle="modal" data-target="#modal_notedetail"
                                           data-note-id="@note.Id" href="/Home/Notesh/@note.Id">@note.Title</a>
                                    </h5>
                                    <p class="card-text">
                                        @if (string.IsNullOrEmpty(note.Text) == false && note.Text.Length > 70)
                                        {
                                            @(note.Text.Substring(0,70)+ "...")

                                        }
                                        else
                                        {
                                            @note.Text

                                            if (@note.Text.Length < 55)
                                            {
                                                <br />
                                                <br />
                                            }
                                        }
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            <span class="fa fa-user mr-2"></span>@note.Owner.Username<br />
                                            <span class="fa fa-clock-o mr-2"></span>@note.ModifiedOn.ToString("dd.MM.yy.HH:mm")
                                        </small>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="row">

                                        <div class="col-md-6 text-left">
                                            <div class="ratings">
                                                <button class="btn btn-default btn-sm liked" type="button" data-note-id="@note.Id" data-liked="false">
                                                    <span class="fa fa-heart-o like-star mr-1"></span>
                                                    <span class="like-count">@note.LikeCount</span>
                                                </button>
                                                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal_comment" data-note-id="@note.Id">
                                                    <i class="fa fa-comment-o mr-1"></i>
                                                    <span>@note.Comments.Count</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-right">

                                            <a href="#" data-toggle="modal" data-target="#modal_notedetail"
                                               data-note-id="@note.Id" class="btn btn-light btn-sm">
                                                Detay <span class="fa fa-info-circle"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @section footer{
        @Html.Partial("_PartialFooter")
    }

    @Bootstrap.ModalPopup(id: "modal_comment", title: "Yorumlar")
    @Bootstrap.ModalPopup(id: "modal_notedetail", title: "Not Detayı")
    <script src="~/Scripts/like.js"></script>
    <script src="~/Scripts/comment.js"></script>

    <script src="~/Scripts/NoteDetailPopup.js"></script>
</body>

